# Ignore object files in the /array/ directory
/array/*.o
/array/*.exe
/sorting/*.o
/sorting/*.exe
/binary-search/*.o
/binary-search/*.exe
/number/*.o
/number/*.exe
/string/*.o
/string/*.exe
/STLcontainer/*.o
/STLcontainer/*.exe


# Do not ignore C++ source files in the /array/ directory
!/array/*.cpp
!/sorting/*.cpp
!/binary-search/*.cpp
!/number/*.cpp
!/string/*.cpp
!/STLcontainer/*.cpp